<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akkiei.cryptoticker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_my_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_my_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoTicker">
        <activity android:name=".ListTriggers" />
        <activity android:name=".ShowNotificationCrypto" />
        <activity android:name=".CreateTriggers" />
        <activity
            android:name=".PostNotification"
            android:label="@string/title_activity_post_notification"
            android:theme="@style/Theme.CryptoTicker.NoActionBar" />

        <service
            android:name=".ForegroundService"
            android:icon="@drawable/ic_launcher_my_icon_background"
            android:label="ForegroundServiceLabel" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>